* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #1C1C1C;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #353535;
    border-radius: 5px;
}

.Jprg {
    font-family: 'Open Sans';
    font-size: 17px;
}

.page-navs {
    font-family: 'Inter';
    background-color: #272727;
    border-radius: 10px;
}

.page-navs a {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}
